@charset "utf-8";
@font-face {
  font-family: "menusetting";
  src: url('fonts/iconicfill.woff2');
}
@font-face {
  font-family: "breadcrumb";
  src: url('fonts/fontawesome.woff2');
}
$screen-s-min: 320px;
$screen-m-min: 550px;
$screen-l-min: 1000px;
$screen-xl-min: 2000px;
$first-color: #ca0000;
$second-color: #f58400;
$background-primary-color: #fff;
$background-secondary-color: #252831;

@mixin m {
  @media screen and (min-width: #{$screen-m-min}){
    @content;
  }
}
@mixin l {
  @media screen and (min-width: #{$screen-l-min}){
    @content;
  }
}
@mixin xl {
  @media screen and (min-width: #{$screen-xl-min}){
    @content;
  }
}
@mixin mobile {
  @media screen and (min-width: #{$screen-s-min}) and (orientation: portrait) {
    @content;
  }
}
@mixin tablet {
  @media screen and (min-width: #{$screen-m-min}) and (orientation: portrait) {
    @content;
  }
}


[class*="fontawesome-"]:before {
  content: '\f061';
  font-family: 'breadcrumb', sans-serif;
  color: $background-primary-color;
}
.iconicfill-equalizer:before {
  content: '\e052';
  font-family: 'menusetting', sans-serif;
  transition: 0.4s;
}
.iconicfill-x:before {
  content: '\2717';
  font-family: 'menusetting', sans-serif;
}
.iconicfill-arrow-down:before {
  content: '\2193';
  font-family: 'menusetting', sans-serif;
}



body, td, th, p {
  color: $background-secondary-color;
  line-height: 1.5;
}

body {
  background-color: white;
  margin: 0;
  font-size: 16px;
  width: 100%;
  max-width: 100%;

  @include m{
    position: relative;
    z-index: -1;
  }

  .moveDown {
    @include m {
      transform: translateY(7.5em);
    }
  }
  .moveUp {
    @include m {
      transform: translateY(0em);
    }
  }
}

.wrapper {
  position: relative;
  z-index: 2;
}

main ul, li {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10pt;
  color: $background-secondary-color;
}

figure, figcaption {
  margin: 0;
  padding: 0;
}

p {
  text-align: right;
  padding-right: 5%;
  font-family: 'Montserrat', sans-serif;
}

a {
  color: orange;
  text-decoration: none;
}

a:hover,
a:focus {
  color: #3397db;
  text-decoration: none;
}

a img {
  border: none 0px  $background-primary-color;
}

a, button, select {
  min-width: 48px;
  min-height: 48px;
}

#map a, button, select {
  min-width: 0;
  min-height: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
select {
  font-family: 'Righteous', Impact, Haettenschweiler, 'Arial Narrow Bold',sans-serif;
}

article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
img {
  display: block;
  max-width: 100%;
}

header {
  height: 7em;

  @include xl {
    height: 8em;
  }
  #breadcrumb {
    list-style: none;
    background-color:$background-secondary-color;
    height: 30%;
    width: 100%;
    @include xl {
      font-size: 1.3em;
    }
    li {
      display: inline;
      color: $background-primary-color;
      font-size: 1em;
      font-family: 'Montserrat', sans-serif;
      padding-right: 5px;
      @include m {
        font-size: 1.5em;
      }
      /* Add a color to all links the list */
      a {
        color: #f58301;
        text-decoration: none;
        /* Add a color on mouse-over */
        a:hover {
          color: #01447e;
          text-decoration: underline;
        }
      }
      /* Add a slash symbol (/) before/behind each list item */
    }
  }
}

main {
  @include m {
    width: 550px;
    margin: 0 auto 0 auto;
    transition: 0.4s ease-in-out;
  }
  @include l {
    width: 900px;
  }
  @include xl {
    width: 1900px;
    display: flex;
    justify-content: center;
    flex-flow: wrap row;
    align-items: center;
  }
  aside.popup {
    display: none;
    transition: 0.2s;
    @include mobile {
      
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: #252831;
      position: fixed;
      width: 100vw;
      height: 9em;
      bottom: 0;
      z-index: 10;
      left: 0;
      p {
        color: $background-primary-color;
        padding: 0 10%;
        text-align: center;
        margin: 0;
      }
      .note {
        color: grey;
      }
      button {
        position: absolute;
        top: 2%;
        right: 0%;
        background-color: transparent;
        border: transparent;
        font-size: 1.5em;
        color: #ca0000;

      }
      label {
        display: none;
      }
      span {
        position: absolute;
        text-align: center;
        color: $background-primary-color;
        font-size: 1.7em;
        line-height: 0;
        width: 100%;
        bottom: 10px;
      }
      img {
        display: inline;
        height: 1em;
      }
    }
    @include tablet {
      font-size: 1.5em;
      span {
        bottom: 15px;
      }
    }
  }
  aside.hide {
    transform: translateY(9em);
  }
}
#footer {
  background-color: $background-secondary-color;
  color: #dbdbdb;
  padding: 1%;
  font-size: 0.8em;
  letter-spacing: 1px;
  text-align: center;
  text-transform: uppercase;
}

/* ====================== Navigation ====================== */

nav {
  width: 100%;
  height: 100%;
  background-color: $background-secondary-color;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include m {
    position: relative;
    z-index: 1;
  }
  
  h1 {
    width: 80%;
    margin-left: 5%;
    text-align: left;
    
    a {
      color:  $background-primary-color;
      font-size: 1em;
      letter-spacing: 5px;
      text-transform: uppercase;

      @include m {
        font-size: 1.3em;
        background-color: $first-color;
        border-radius: 25px;
        padding: 0 4px 0 8px;
      }
      @include xl {
        font-size: 3em;
      }
    }
  }
  button {
    min-width: 48px;
    min-height: 48px;
    margin-right: 0%;
    color: $background-primary-color;
    font-size: 2.5em;
    background-color: $background-secondary-color;
    border: 2px solid $background-secondary-color;
    
    @include l {
      margin-right: 5%;
    }
    @include xl {
      font-size: 3.5em;
    }
  }
  .pressed {
    color: $first-color;
  }
  .iconicfill-x {
    color: $background-primary-color;
    font-size: 2em;
    margin: 0% 65% 5% 0px;
    padding: 0;
  }
}
/* ====================== Restaurant Filtering ====================== */

.filter-options {
  position: relative;
  z-index: 1;
  display: flex;
  flex-flow: wrap row;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 75vw;
  overflow: hidden;
  border-bottom: 3px solid #35b7ab;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  // background$first-color;
  background: linear-gradient(to bottom, #a50000 10%, $first-color 100%);
  transition: 0.4s ease-in-out;
  
  @include m {
    height: 4em;
    width: 100vw;
    z-index: 0;
  }
  h3 {
    color: #6d0090;
    font-weight: normal;
    margin: 0%;
    width: 100%;
    font-size: 1.7em;

    @include m {
      margin: 0;
      padding: 0;
      text-align: center;
    }
  }
  
  select {
    background-color: transparent;
    border: 1px solid #ffd3d3;
    color: white;
    font-size: 1.3em;
    height: 35px;
    letter-spacing: 0;
    margin: 10px;
    width: 200px;
  }
}

.optionsOpen {
  transform: translate3d(-1em, -7em, 0);
  visibility: visible;
  opacity: 1;
  @include m {
    transform: translateY(0em);
  }
}

.optionsClose {
  transform: translate3d(-1em, -22em, 0);
  visibility: hidden;
  opacity: 0;
  @include m {
    transform: translateY(-7.5em);
  }
}



/* ====================== Map ====================== */

#map-container {
  position: relative;
  width: 100%;
  height: 320px;
  transition: 0.2s;
  background-color: $background-secondary-color;
  @include m {
    height: 320px;
    width: 550px;
    margin: 2% auto;
    border-radius: 25px;
  }
  @include xl {
    width: 1200px;
    height: 25em;
    align-self: baseline;
    margin: 7em 0 0 0;
  }
  #map {
    z-index: 0;
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    background: $background-secondary-color;
    @include m {
      border-radius: 25px;
    }
  }
  #map-loader {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    background-color: $background-secondary-color;
    @include m {
      border-radius: 25px;
    }
  }
  .hidden {
    display: none;
  }
  .notHidden {
    display: inherit;
  }
}




/* ====================== Restaurant Listing ====================== */

#restaurants-list {
  background-color: $background-primary-color;
  list-style: outside none none;
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
  
  @include l {
    display: flex;
    flex-flow: wrap row;
    justify-content: center;
  }
  @include xl {
    width: 100%;
    margin: 1%;
  }
  li {
    box-shadow: 0px 0px 80px -15px #000000d1;
    border-radius: 25px;
    font-family: Arial, sans-serif;
    position: relative;
    min-height: 380px;
    padding: 0;
    width: 92%;
    margin: 5% auto;
    text-align: center;
    
    @include l {
      width: 45%;
      margin: 2%;
    }
    @include xl {
      width: 25%;
    }
    h2   {
      text-align: left;
      color: $first-color;
      width: 95%;
      height: 3em;
      margin: 0 auto;
      border-bottom: 1px dotted;
      text-shadow: 1px 1px 1px #c56300;
      font-family: 'Righteous', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
      font-size: 14pt;
      font-weight: 200;
      letter-spacing: 2px;
      line-height: 3em;
      text-transform: uppercase;
    }
    
    .restaurant-img {
      display: block;
      background-color: #252831;
      margin: 0;
      width: 100%;
      max-width: 100%;
      height: auto;
      border-top-right-radius: 25px;
      border-top-left-radius: 25px;
    }
    aside {
      position: absolute;
      top: 0;
      right: 0;
      z-index: 10;
      text-align: center;
      margin: 3% 3% 0 0;
      background-color: #ffffff;
      box-shadow: 0px 1px 29px -4px black;
      border-radius: 50px;
      height: 3em;
      width: 3em;
      line-height: 3em;

      p {
        color: #00d2b5;
        font-family: 'Righteous', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        margin: 0;
        line-height: 2.8em;
        text-align: center;
      }
    }
    p {
      margin: 2% 0 0 0;
      font-size: 11pt;
    }
    
    a {
      background-color: $first-color;
      border-radius: 25px;
      box-shadow: 0px 6px 2px -3px #8a8a8a;
      color:  $background-primary-color;
      display: inline-block;
      font-size: 10pt;
      margin: 4% 0;
      width: 10em;
      line-height: 48px;
      text-align: center;
      text-decoration: none;
      text-transform: uppercase;
    }
  }
}